/* Background image*/
body {
    background-image: url(../images/mars-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.card {
background-color: #111;
opacity: 0.6;
}

div.card-body {
color: #ffff;
}

