* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;

  }

  .logo {
max-width: 20%;
padding-bottom: 4%;
  }

  figcaption {
    color: #222;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

@media screen and (max-width:600px) {
  #title {
    font-size: 2em;
  }
}
